* {
    font-family: 'Roboto', sans-serif;

}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }
th{
    background-color: aqua;
  
}
.color {
    background-color: aqua;
}
th,td {
    padding-left: 38px;
    padding-right: 38px;
}